.vscode
EX1/LEXER
EX1/FOLDER_3_BIN/Lexer.class
EX1/FOLDER_3_BIN/Main.class
EX1/FOLDER_3_BIN/TokenNames.class
EX1/FOLDER_5_OUTPUT/OutputTokenizedProgram.txt
EX2/PARSER
EX2/FOLDER_4_INPUT/Input.txt
EX2/FOLDER_5_OUTPUT/ParseStatus.txt
EX3/FOLDER_3_BIN/Main.class
EX3/FOLDER_3_BIN/AST/AST_EXP_BINOP.class
EX3/FOLDER_3_BIN/AST/AST_FUNCDEC.class
EX3/FOLDER_3_BIN/AST/AST_NEW_EXP_EXTENDED.class
EX3/FOLDER_3_BIN/AST/AST_NEW_EXP.class
EX3/FOLDER_3_BIN/AST/AST_STMT_ASSIGN.class
EX3/FOLDER_3_BIN/AST/AST_STMT_FUNCCALL.class
EX3/FOLDER_3_BIN/AST/AST_STMT_IF.class
EX3/FOLDER_3_BIN/AST/AST_STMT_NEW_ASSIGN.class
EX3/FOLDER_3_BIN/AST/AST_STMT_VAR_DEC.class
EX3/FOLDER_3_BIN/AST/AST_STMT_WHILE.class
EX3/FOLDER_3_BIN/AST/AST_STMT.class
EX3/FOLDER_3_BIN/AST/AST_VAR_DEC_EXP.class
EX3/FOLDER_3_BIN/AST/AST_VAR_DEC_NEW_EXP.class
EX3/FOLDER_3_BIN/AST/AST_VAR_DEC.class
EX3/FOLDER_3_BIN/AST/SemantException.class
EX3/FOLDER_5_OUTPUT/AST.jpeg
EX3/FOLDER_5_OUTPUT/SemanticStatus.txt
EX3/FOLDER_5_OUTPUT/SYMBOL_TABLE_8_IN_GRAPHVIZ_DOT_FORMAT.txt
EX3/FOLDER_5_OUTPUT/SYMBOL_TABLE_8.jpeg
EX3/FOLDER_5_OUTPUT/SYMBOL_TABLE_9_IN_GRAPHVIZ_DOT_FORMAT.txt
EX3/FOLDER_5_OUTPUT/SYMBOL_TABLE_9.jpeg
EX3/FOLDER_5_OUTPUT/SYMBOL_TABLE_10_IN_GRAPHVIZ_DOT_FORMAT.txt
EX3/FOLDER_5_OUTPUT/SYMBOL_TABLE_10.jpeg
EX3/FOLDER_5_OUTPUT/SYMBOL_TABLE_11_IN_GRAPHVIZ_DOT_FORMAT.txt
EX3/FOLDER_5_OUTPUT/SYMBOL_TABLE_11.jpeg
EX3/COMPILER
EX2/FOLDER_5_OUTPUT/ParseStatus.txt
EX2/FOLDER_4_INPUT/Input.txt
EX2/PARSER
